<section class="section">
    <header>
        <h3>Recent Posts</h3>
    </header>
    <p class="tags">
       Five recent blog posts will be shown here.
    </p>
</section>

<section class="section">
    <header>
        <h3>Recent Comments</h3>
    </header>
    <p class="tags">
        The five most recent comments will be shown here.
    </p>
</section>

<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">
        We will add 8-15 tags from posts here.
    </p>
</section>

<section class="section">
    <header>
        <h3>Visitors</h3>
    </header>
    <p class="tags">
        The number of visitors will be shown in this area.
    </p>
</section>

{# Below we have the project version showing. Try to keep at the bottom #}
<section class="section">
    <header>
        <h3>ContentCove CMS</h3>
    </header>
    <p>
        <span class="tags">Version:</span>  {{ shivas_app_version }}
    </p>
</section>
