{% extends 'layout.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome to</h1>

    
    <ul>
        <li><h2><code><strong>{{ 'copyright_title'|trans }}</strong></code></h2></li>
        <li><h3><code>::: Your Next And Last Content Management System :::</code></h3></li>
    </ul>
</div>
{% endblock %}
